<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<!-- TODO: Iterate over the Football_table data here 
						1. Display the information for each row (date, name, home score, visitor score)
						2. Determine who the winner is and display it in the final column

						If you're not sure how the logic should work here, review the code you add to the client-side javascript
						that ran onload for Lab 5.  We are doing the same kind of operations we had in Lab 5, but we are instead having
						everything handled via server-side scriptes
			-->
			<% 
			if (data) { 
			    var tdata = '';
				data.forEach(function(item){
			  		 tdata += '<tr><td>' + item.game_date + '</td><td>' + item.visitor_name + '</td><td>' + item.home_score + '</td><td>' + item.visitor_score + '</td><td>';
					if(item.visitor_score >= item.home_score){
							tdata += item.visitor_name + '</td></tr>'
						}
					else {
							tdata += 'CU Boulder</td></tr>'
						}
			  	 }); %>
			  	 <%- tdata %> 
			<% } %>
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> 
				 <!-- TODO: Display the total number of wins here.  
							    This value should come from your server.js files query, don't calculate it in this file! -->
				<%
				if (wins) { 
				    var w_count = wins;
				}
				else {w3
					} %>	
				 <%- w_count %>	
						
				</td>
				<td> <!-- TODO: Display the total number of losses here.  
							    This value should come from your server.js files query, don't calculate it in this file! -->
				<%
				if (losses) { 
				    var l_count = losses;
				}
				else {
					} %>	
				 <%- l_count %>	
				</td>
			</tr>
		</table>
		
	</div>
<% include ../partials/footer %>
